<%= @title = "アカウント情報" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "アカウント情報", :edit_staff_account %>
  </div>

  <table class="attributes">
    <tr>
      <th>氏名</th>
      <td>
        <%= @staff_menber.family_name %>
        <%= @staff_menber.given_name %>
      </td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td>
        <%= @staff_menber.family_name_kana %>
        <%= @staff_menber.given_name_kana %>
      </td>
    </tr>
    <tr>
    <th>メールアドレス</th>
      <td class="email">
        <%= @staff_menber.email %>
      </td>
    </tr>
    <tr>
      <th class="date">入社日</th>
      <td>
        <%= @staff_menber.start_date.strftime("%y/%m/%d") %>
      </td>
    </tr>
  </table>
</div>